@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

#menu {
  background-image: url(../img/Posiblefondo.png);
  background-attachment: fixed;
  background-size: cover;
}
#menu .nav-link {
  color: black;
  font-family: "Rubik", sans-serif;
}
@media (min-width: 992px) {
  #menu {
    background: url(../img/Posiblefondo.png);
  }
  #menu .nav-link {
    padding: 5px 18px;
    color: black;
  }
}
#menu #logo {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  border-bottom: 1px white solid;
}

.navbar-brand span {
  color: #5C62EC;
}

.headerHome {
  background-image: url(../img/Posiblefondo.png);
  background-attachment: fixed;
  width: auto;
  height: 100vh;
  max-height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media (max-width: 768px) {
  .headerHome {
    grid-template-columns: auto;
    grid-template-rows: 1fr 500px;
  }
}
.headerHome .dvHeader {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  color: black;
  grid-column: 1/2;
}
@media (max-width: 768px) {
  .headerHome {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.headerHome .dvFlex {
  height: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .headerHome .dvFlex {
    font-size: 18px;
    font-family: "Rubik", sans-serif;
  }
}
.headerHome .dvFlex .titulo {
  font-size: 25px;
  text-align: center;
}
.headerHome .dvFlex .titulo .parrafoTitulo {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}
@media (min-width: 768px) {
  .headerHome .dvFlex .titulo {
    font-size: 40px;
  }
}
.headerHome .dvFlex span {
  color: #5C62EC;
}
.headerHome .dvFlex .botonCv, .headerHome .dvFlex .dvImg .opacidad:hover button:hover, .headerHome .dvImg .opacidad:hover .dvFlex button:hover {
  max-width: 180px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px white;
  cursor: pointer;
  padding: 10px;
  color: white;
}
.headerHome .dvFlex .botonCv:hover, .headerHome .dvFlex .dvImg .opacidad:hover button:hover, .headerHome .dvImg .opacidad:hover .dvFlex button:hover {
  background-color: #5C62EC;
  color: black;
  box-shadow: 0px 0px 5px black;
  padding: 8px;
}
.headerHome .dvFlex .redes {
  padding: 5px;
  transition: all 200ms;
}
.headerHome .dvFlex .redes:hover {
  transform: scale(1.1);
  filter: hue-rotate(360deg) drop-shadow(6px 2px 2px black);
}
.headerHome .dvImg {
  grid-column: 0.6666666667;
  background-image: url(../img/slide33.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  position: relative;
}
@media (max-width: 768px) {
  .headerHome .dvImg {
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.headerHome .dvImg .opacidad {
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerHome .dvImg .opacidad button {
  display: none;
}
.headerHome .dvImg .opacidad:hover {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: -1px 0px 50px white;
}
.headerHome .dvImg .opacidad:hover button {
  display: block;
  background-color: #5C62EC;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px white;
  padding: 8px;
  color: white;
}
.headerHome .dvImg .opacidad:hover button:hover {
  background-color: #5C62EC;
}

.parrafoAboutme {
  font-weight: bold;
  font-size: 30px;
  width: 50%;
}
@media (max-width: 576px) {
  .parrafoAboutme {
    font-size: 20px;
    width: 100%;
    padding: 0 30px;
  }
}

.carousel-inner {
  max-height: 40rem;
}

.section {
  background-image: url(../img/Posiblefondo.png);
  background-attachment: fixed;
  width: 100%;
  height: 550px;
  display: grid;
  grid-template-areas: "desarrollo diseño" "comunicacion comunicacion";
}
@media (max-width: 768px) {
  .section {
    grid-template-areas: "desarrollo" "diseño" "comunicacion";
  }
}
.section .dvDesarrollo {
  grid-area: desarrollo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .dvDiseño {
  grid-area: diseño;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .dvComunicaciones {
  grid-area: comunicacion;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro {
  background-image: url(../img/Posiblefondo.png);
  background-attachment: fixed;
}

footer {
  background-image: url(../img/Posiblefondo.png);
  background-attachment: fixed;
  min-height: 100px;
}
footer p {
  color: black;
  text-align: center;
}
footer .iconos {
  transition: all 300ms ease-in-out;
  padding: 0 10px;
}
footer .iconos:hover {
  transform: scale(1.1);
  filter: hue-rotate(360deg) drop-shadow(6px 2px 2px black);
}

.contenedorContacto {
  background-image: url(../img/Posiblefondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: auto;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorContacto .encabezadoContacto {
  height: 200px;
  width: 500px;
}
@media (max-width: 576px) {
  .contenedorContacto .encabezadoContacto {
    width: 300px;
  }
}
.contenedorContacto .Formulario {
  background-color: rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 550px;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border: white solid 1px;
}
.contenedorContacto .Formulario .casilla {
  border-radius: 7px;
  background-color: #1C1E22;
  padding: 10px;
  width: 350px;
  color: white;
}
.contenedorContacto .Formulario textarea {
  max-height: 150px;
  background-color: #1C1E22;
  width: 350px;
}
.contenedorContacto .Formulario label {
  padding: 5px;
}
.contenedorContacto .Formulario .btnForm {
  width: 200px;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: #5C62EC;
}
@media (max-width: 576px) {
  .contenedorContacto .Formulario .casilla {
    border-radius: 7px;
    padding: 10px;
    width: 280px;
    color: white;
  }
  .contenedorContacto .Formulario textarea {
    width: 280px;
  }
}
@media (max-width: 576px) {
  .contenedorContacto .Formulario {
    width: 350px;
  }
}

.headerSkills {
  background-image: url(../img/Posiblefondo.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}
@media (max-width: 768px) {
  .headerSkills {
    height: 100%;
  }
}
.headerSkills .dvContenedorSkills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 200px 200px;
}
@media (max-width: 768px) {
  .headerSkills .dvContenedorSkills {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px;
  }
}
.headerSkills .dvContenedorSkills .contenedorH1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-row: 1/2;
  grid-column: 2/3;
}
.headerSkills .dvContenedorSkills .contenedorH1 h1 {
  font-weight: bold;
}
.headerSkills .dvContenedorSkills .contenedorBox {
  grid-row: 3/4;
  grid-column: 2/3;
  max-width: 1100px;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .headerSkills .dvContenedorSkills .contenedorBox {
    flex-wrap: wrap;
    grid-row: 2/4;
    padding-top: 100px;
  }
}
.headerSkills .dvContenedorSkills .box {
  width: 218px;
  height: 200px;
  margin: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
}
.headerSkills .dvContenedorSkills .box i {
  font-size: 60px;
  color: black;
  padding-bottom: 20px;
}
.headerSkills .dvContenedorSkills .box h6 {
  font-size: 14px;
  color: black;
}
.headerSkills .dvContenedorSkills .box h5 {
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 48px;
  filter: blur(5px);
  opacity: 0;
}
.headerSkills .dvContenedorSkills .box:hover {
  transform: scale(1.1);
  transition: all 300ms ease;
  box-shadow: 0px 5px 50px white;
  background-color: black;
  z-index: 1;
}
.headerSkills .dvContenedorSkills .box:hover i {
  color: white;
}
.headerSkills .dvContenedorSkills .box:hover h5 {
  font-size: 14px;
  opacity: 1;
  filter: blur(0);
  color: white;
  transition: all 600ms ease;
}
.headerSkills .dvContenedorSkills .box:hover h6 {
  color: white;
  opacity: 0;
}

.headerProyects {
  background-image: url(../img/Posiblefondo.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .headerProyects {
    height: 500px;
    grid-template-columns: auto;
    grid-template-rows: 200px 200px 200px;
  }
  .headerProyects .dvProyectsAnimacion {
    display: none;
  }
  .headerProyects .dvProyectsH1 {
    grid-row: 2/3;
  }
}
@media (max-width: 576px) {
  .headerProyects {
    height: 500px;
  }
}
.headerProyects .dvProyectsH1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerProyects .dvProyectsH1 .ProyectsH1 {
  color: black;
  width: 70%;
  font-size: 45px;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 768px) {
  .headerProyects .dvProyectsH1 .ProyectsH1 {
    font-size: 30px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .headerProyects .dvProyectsH1 .ProyectsH1 {
    font-size: 20px;
  }
}
.headerProyects .dvProyectsAnimacion {
  width: auto;
  height: 550px;
  position: relative;
}
.headerProyects .dvProyectsAnimacion .box1 {
  position: absolute;
  width: 701px;
  height: 428px;
  left: 37px;
  top: 110px;
  background: url(../img/online-document-animate.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 35px black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.headerProyects .dvProyectsAnimacion .box2 {
  position: absolute;
  width: 399px;
  height: 274px;
  left: 225px;
  top: 250px;
  background: url(../img/Blog.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 35px black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.headerProyects .dvProyectsAnimacion .box3 {
  position: absolute;
  width: 412px;
  height: 274px;
  left: 375px;
  top: 280px;
  background: url(../img/working-from-anywhere-animate.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 35px black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.headerProyects .dvProyectsAnimacion > * {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.headerProyects .dvProyectsAnimacion > div {
  transform: rotateY(-20deg) rotateX(20deg);
  filter: blur(1px);
  cursor: pointer;
}
.headerProyects .dvProyectsAnimacion:hover > div {
  transform: rotateY(0deg) rotateX(0deg);
  filter: saturate(50%);
}
.headerProyects .dvProyectsAnimacion:hover .box2 {
  transition-delay: 0.1s;
  transform: translate(-260px, 30px);
}
.headerProyects .dvProyectsAnimacion:hover .box1 {
  transition-delay: 0.1s;
  transform: translate(0px, -80px);
}
.headerProyects .dvProyectsAnimacion:hover div:hover {
  filter: brightness(120%) saturate(130%);
}

.mainFlex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100vh;
  background: url(../img/Posiblefondo.png);
  background-attachment: fixed;
}
@media (max-width: 576px) {
  .mainFlex {
    grid-template-columns: 100%;
    grid-template-rows: 400px 400px 400px;
    height: 1200px;
  }
}
@media (min-width: 768px) {
  .mainFlex {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: 800px;
  }
}
.mainFlex .dvCard1 {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.mainFlex .dvCard1 .card1 {
  width: 250px;
  height: 300px;
  background-image: url(../img/pixlr-bg-healer.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .mainFlex .dvCard1 .card1 {
    width: 300px;
    height: 400px;
    background-image: url(../img/pixlr-bg-healer.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 300ms ease-in-out;
  }
  .mainFlex .dvCard1 .card1:hover {
    background-image: url(../img/pixlr-bg-healer2.png);
    transform: rotateY(360deg);
  }
}
.mainFlex .dvCard2 {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .mainFlex .dvCard2 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
.mainFlex .dvCard2 .card2 {
  width: 250px;
  height: 300px;
  background-image: url(../img/pixlr-bg-knight.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .mainFlex .dvCard2 .card2 {
    width: 300px;
    height: 400px;
    background-image: url(../img/pixlr-bg-knight.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 300ms ease-in-out;
  }
  .mainFlex .dvCard2 .card2:hover {
    background-image: url(../img/knight2.png);
    transform: rotateY(360deg);
  }
}
.mainFlex .dvCard3 {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .mainFlex .dvCard3 {
    grid-column: 3/4;
  }
}
.mainFlex .dvCard3 .card3 {
  width: 250px;
  height: 300px;
  background-image: url(../img/pixlr-bg-mage.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .mainFlex .dvCard3 .card3 {
    width: 300px;
    height: 400px;
    background-image: url(../img/pixlr-bg-mage.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  }
  .mainFlex .dvCard3 .card3:hover {
    background-image: url(../img/pixlr-bg-mage2.png);
    transform: rotateY(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
