
@import "_variables.scss";
@import "_mediaquery";
@import "_mixin";
@import "_mapas";
* {
    margin: 0;
    padding: 0;
    font-family: $estilo-fuente;
}


#menu {

    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));

    @media (min-width: $lg) {
        background-color: #151515;


        .nav-link {
            @include crearBordes;
            padding: 5px 18px;
        }
    }

    #logo {
        font-family:Arial, Helvetica, sans-serif;
        border-bottom: 1px white solid;
        
    }

}

.navbar-brand {

    span {
        color: $color-nombre;
    }

}



.headerHome {
    background-image: url(./img/Fondo.svg);
    width: auto;
    height: 100vh;
    max-height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas: "contenido1 contenido2";
    grid-template-columns: 1fr 1fr;

    @media (max-width: $md) {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "contenido1";
        
    }
    

    .dvHeader{
        display: flex;
        justify-content: center;
        height: 600px;
        align-items: center;
        color: white;
        grid-column-start: contenido1;
        grid-column-end: contenido1;
        }

        .dvFlex {
            
            height: 350px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            @media (min-width: $md) {
                font-size: $tamaño-fuente;
                font-family: $estilo-fuente;
            }

            .titulo {
                font-size: 25px ;
                text-align: center;
            }

            .titulo {
                @media (min-width: $md) {
                    font-size: 40px;
                }
            }

            span {
                color: $color-nombre;
            }

            .botonCv {
                max-width: 180px;
                @include crearBordes;
                cursor: pointer;
                padding: 10px;
                color: white;
            }
    
            .botonCv:hover {
                background-color: map-get($map: $caja1, $key: color );
                color: black;
                box-shadow: 0px 0px 5px black;
                padding: 8px;
            }

            .redes {
                padding: 5px;
                transition: all 200ms;
            }
            
            .redes:hover {
                transform: map-get($map: $caja1, $key: transform );
            }
        }

        .dvImg {
            grid-area: (2/3);
            background-image: url(./img/slide33.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            
            
            @media (max-width: $md) {
                background-size: cover;
            }


            .opacidad {
                background-size: contain;
                background-attachment: fixed;
                background-repeat: no-repeat;
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                

                button {
                    display: none;
                }
            }

            .opacidad:hover{
                background-color: $fondo-transparente;
                background-size: cover;
                background-attachment: fixed;
                background-repeat: no-repeat;
                position: absolute;
                width: 100%;
                height: 100%;
                cursor: pointer;
                

                button{
                    display: block;
                    background-color: $color-nombre;
                    @include crearBordes;
                    padding: 8px;
                    color: white;
                }

                button:hover {
                    @extend .botonCv;
                    background-color: $color-nombre;
                }
            }

            
        }
    }

    //////////////////*animaciones*////////////
    .dvImg {

        @media (min-width: $lg) {
            
            -webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
                    @-webkit-keyframes slide-right {
                    0% {
                      -webkit-transform: translateX(0);
                              transform: translateX(0);
                    }
                    100% {
                      -webkit-transform: translateX(100px);
                              transform: translateX(100px);
                    }
                  }
                  @keyframes slide-right {
                    0% {
                      -webkit-transform: translateX(0);
                              transform: translateX(0);
                    }
                    100% {
                      -webkit-transform: translateX(100px);
                              transform: translateX(100px);
                    }
                  }
        }
    }

    

  ///////////*ABOUTME*///////////////


  .carousel-inner {
    max-height:40rem ;
}

#section_ {
    background-color: #f3f3f3;
    border:groove 1px black;
}

#intro {
    background-image: url(./img/Fondo.svg);
}

footer {
    background-image: url(./img/Fondo.svg);
    min-height: 100px;;

    p {
        color:#f3f3f3;
        text-align:center;
    }

    .iconos , img {
        padding: 0 10px;
    }
}

///////////////////////*CONTACTO*//////////////////////


.contenedorContacto {
    background-image: url(img/Fondo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




    .encabezadoContacto {
        height: 200px;
        width: 500px;

        @media (max-width: $sm) {
            width: 300px;
        }
    }




    .Formulario {
        background-color: #26292D;
        width: 500px;
        height: 550px;
        border-radius: 8px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border: white solid 1px;


        .casilla {
            border-radius: 7px;
            background-color: #1C1E22;
            padding: 10px;
            width: 350px;
            color: white;
        }
    
        textarea {
            max-height: 150px;
            background-color: #1C1E22;
            width: 350px;
            
        }

        label {
            padding: 5px;
        }


        .btnForm {
            width: 200px;
            border-radius: 8px;
            cursor: pointer;
            padding: 10px;
            color: white;
            background-color: $color-nombre;
        }

        @media (max-width: $sm) {
        
            .casilla {
                border-radius: 7px;
                padding: 10px;
                width: 280px;
                color: white;
            }

            textarea {
                width: 280px;
                
            }
        }

        
    }

    @media (max-width: $sm) {
            
        .Formulario {
            width: 350px;
        }
    
    }
}


///////////////////*SKILLS*///////////

.headerSkills {
    background-image: url(img/Fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;

    @media (max-width: $md) {
        height: 100%;
    }
    
    .dvContenedorSkills   {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 200px 200px;

        @media (max-width: $md) {
            grid-template-columns: 1fr;
            grid-template-rows: 300px 300px;

        }
        
        .contenedorH1   {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            grid-row: 1/2;
            grid-column: 2/3;
        }
        
        .contenedorBox  {
            grid-row: 3/4;
            grid-column: 2/3;
            max-width: 1100px;
            display: flex;
            justify-content: center;
            
            @media (max-width: $md) {
                flex-wrap: wrap;
                grid-row: 2/4;
                padding-top: 100px;
            }
        }
    
        .box {

            width: 218px;
            height: 200px;
            margin: 1px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 8px;
            position: relative;
    
            i{
                font-size: 60px;
                color: $color-nombre;
                padding-bottom: 20px;
            }


            h6 {
                font-size: 14px;
                color: wheat;
            }

            h5 {
                font-size: 18px;
                color: white;
                position: absolute;
                bottom: 48px;
                filter: blur(5px);
                opacity: 0;
            }
        }

        .box:hover {
            transform: scale(1.1);
            transition: all 300ms ease;
            box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.5);
            background-color: $color-nombre;
            z-index: 1;
        }

        .box:hover i {
            color: white;
        }

        .box:hover h5 {
            font-size: 14px;
            opacity: 1;
            filter: blur(0);
            color: white;
            transition: all 600ms ease;
        }

        .box:hover h6 {
            color: white;
            opacity: 0;
        }
    }
}



/////////////////////////*PROYECTO*///////////////////// 

.headerProyects {
    background-image: url(/img/Fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    .cuadrado {
        width: auto;
        height: 550px;
        position: relative;
    
        .box1 {
            position: absolute;
            width: 701px;
            height: 428px;
            left: 37px;
            top: 110px;
            background: url(/img/online-document-animate.svg);
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
            background-color: $fondo-transparente;
            border-radius: 8px;
        }
    
        .box2 {
            position: absolute;
            width: 399px;
            height: 274px;
            left: 225px;
            top: 250px;
            background: url(/img/Blog.svg);
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
            background-color: $fondo-transparente;
            border-radius: 8px;
        }
        
        .box3{
            position: absolute;
            width: 412px;
            height: 274px;
            left: 375px;
            top: 280px;
            background: url(/img/working-from-anywhere-animate.svg);
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
            background-color: $fondo-transparente;
            border-radius: 8px;
        }
    
    }

    .cuadrado>* {
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    }

    .cuadrado>div {
        transform: rotateY(-20deg) rotateX(20deg);
        cursor: pointer;
    }

    .cuadrado:hover>div {
        transform: rotateY(0deg) rotateX(0deg);
        filter: saturate(20%)
        
    }

    .cuadrado:hover .box2 {
        transition-delay: 0.1s;
        transform: translate(-260px, 30px);
    }

    .cuadrado:hover .box1 {
        transition-delay: 0.1s ;
        transform: translate(0px, -80px);
    }

    .cuadrado:hover div:hover {
        filter: brightness(110%) saturate(150%);
    }


}




